In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import scipy
import statsmodels.api as sm 
import datetime
import os

print('Analytics Packages Imported')

Analytics Packages Imported

In [2]:
data = [
    (1,'2015-01-01',10),
    (2,'2015-01-02',25),
    (3,'2015-01-03',20),
    (4,'2015-01-04',30),
]

# Define the column headers

data_columns = ['id','RecordDate','tempurature']

# Create a DataFrame with column headers

weather = pd.DataFrame(data, columns=data_columns)

weather

   id  RecordDate  tempurature
0   1  2015-01-01           10
1   2  2015-01-02           25
2   3  2015-01-03           20
3   4  2015-01-04           30

In [3]:
# Check the data type of the DataFrame

weather.dtypes

# Cobvert the RecordDate column to a datetime object

weather['RecordDate'] = pd.to_datetime(weather['RecordDate'])

print(weather)
print(weather.dtypes)

   id RecordDate  tempurature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30
id                      int64
RecordDate     datetime64[ns]
tempurature             int64
dtype: object

In [4]:
# Create a shifted dataframe

weather_shifted = weather.copy()
print(weather_shifted)
weather_shifted['RecordDate'] = weather_shifted['RecordDate'] + pd.to_timedelta(1, unit='D')
print(weather_shifted)

   id RecordDate  tempurature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30
   id RecordDate  tempurature
0   1 2015-01-02           10
1   2 2015-01-03           25
2   3 2015-01-04           20
3   4 2015-01-05           30

In [5]:
# Merge the dataframes to find consecutive dates

merged_df = pd.merge(weather, weather_shifted, on='RecordDate', suffixes=('_today', '_yesterday'))

print(merged_df)

   id_today RecordDate  tempurature_today  id_yesterday  tempurature_yesterday
0         2 2015-01-02                 25             1                     10
1         3 2015-01-03                 20             2                     25
2         4 2015-01-04                 30             3                     20

In [9]:
# Find the rows where the temperature for the current day is greater than the previous day

result = merged_df[merged_df['tempurature_today'] > merged_df['tempurature_yesterday']]['id_today']
print(result)
result = result.rename('Id')
print(result)

0    2
2    4
Name: id_today, dtype: int64
0    2
2    4
Name: Id, dtype: int64

In [10]:
result_df = result.to_frame().to_string(header=True, index=False)
print(result_df)

 Id
  2
  4